---
title: Meta Union - Birmingham Web Consultancy
body_class: index
---

.wrap

  %header.masthead
    .col.col1
      %img{src: "/images/logo-icon@2.png", class: "logo-icon"}

    .col.col2
      %h1 
        %span.logo
          %span.shadow Meta
          %span.shadow Union

  %article{role: "main"}
    .col.col1
      %ul.contact-list
        %li= mail_to("hello@metaunion.co.uk")
        %li Faraday Wharf, Holt Street, Birmingham, B7 4BB
        %li 0121 663 1801
        %li= link_to("Twitter", "http://twitter.com/metaunion")
        %li= link_to("Github", "http://github.com/metaunion")

    .col.col2
      %p= "Meta Union is a web development company run by #{link_to("Ad Taylor", "http://adtaylor.co.uk")}. Our main focus is providing front-end development consultancy to high-traffic clients but also offer full web site design and development."
      %p Full site coming soon!

